.vscode/
.idea/

######################################
# Environment / Secrets
######################################
.env
*.key
*.pen

######################################
# Java / Spring
######################################
*.class
.gradle/
build/

######################################
# React / NodeJS
######################################
node_modules/

######################################
# Package files
######################################
*.jar
*.ear
*.war